.banner {
  margin-top: 0;

  height: 440px;
  /* background-image: url("../../resources/baner1.jpeg"); */
  min-height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.6)),
    url("../../resources/baner1.jpeg");
  background-size: cover;
  color: white;
  position: relative;
}

.bannerText1 {
  position: absolute;
  bottom: 107px;
  left: 200px;
  font-size: 2rem;
  font-weight: bold;
  z-index: 10;
}
.bannerText2 {
  position: absolute;
  bottom: 80px;
  left: 200px;
}

.postSection {
  /* background-color: skyblue; */
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;
}

.postNav {
  max-width: 1040px;
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.startSection {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tabs {
  text-decoration: none;
  background-color: none;
  padding: 1rem 0rem;
  color: black;
  transition: 200ms;
}

.tabs:focus {
  border-bottom: 2px solid black;
  font-size: 1.1rem;
}

.endSection {
  justify-self: end;
  align-self: center;
  display: flex;
  gap: 1rem;
}

.postHolder {
  width: 100%;
  display: flex;
  /* background-color: lightcoral; */
  max-width: 1040px;
  justify-content: space-between;
  gap: 5rem;
}

.posts {
  width: 100%;
}

.loc {
  width: 300px;
  margin-top: 1rem;
}

.locInput {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid;
}

.mobileNav {
  display: none;
}

.bannerNav {
  display: none;
}

.editButtonPhone {
  display: none;
}

.recommendationSection {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

@media only screen and (max-width: 1000px) {
  .postNav {
    display: none;
  }

  .loc {
    display: none;
  }

  .bannerText1 {
    left: 20px;
    bottom: 30px;
    font-size: 1.5rem;
  }
  .bannerText2 {
    left: 20px;
    bottom: 10px;
  }

  .mobileNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    width: 100%;
  }

  .bannerNav {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  }
  .bannerNavButton {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
  }
  .editButtonPhone {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
    padding: 1rem;
    border-radius: 100px;
    background-color: #fb5a68;
    border: none;
  }
}
